<a href="https://colab.research.google.com/github/tkdforever18/Carlos/blob/main/Clase_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
path = "https://raw.githubusercontent.com/tkdforever18/Carlos/main/Datasets-main/datasets/Cartwheeldata.csv?token=GHSAT0AAAAAAB5NVLASF4WKWZ3ZPQOXVWHYY6J7Z6Q"

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv(path)
df.head()
#df = dataframe = tabla
#pd = panda

HTTPError: ignored

In [ ]:
path2 = "/content/drive/MyDrive/Canada.xlsx"

In [ ]:
final = pd.read_excel(path2,sheet_name = 'Canada by Citizenship',skiprows = 20)
final.head()
final

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,...,124,161,140,122,133,128,211,160,174,217
193,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,...,56,91,77,71,64,60,102,69,46,59
194,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72,...,1450,615,454,663,611,508,494,434,437,407
195,Immigrants,Foreigners,Unknown,999,World,999,World,999,World,44000,...,3739,4785,4583,4348,4197,3402,3731,2554,1681,1484
196,Immigrants,Both,Total,999,World,999,World,999,World,143137,...,235822,262242,251640,236753,247244,252170,280687,248748,257903,259021

In [ ]:
final.columns

Index([    'Type', 'Coverage',   'OdName',     'AREA', 'AreaName',      'REG',
        'RegName',      'DEV',  'DevName',       1980,       1981,       1982,
             1983,       1984,       1985,       1986,       1987,       1988,
             1989,       1990,       1991,       1992,       1993,       1994,
             1995,       1996,       1997,       1998,       1999,       2000,
             2001,       2002,       2003,       2004,       2005,       2006,
             2007,       2008,       2009,       2010,       2011,       2012,
             2013],
      dtype='object')

In [ ]:
no_favs = ['Type', 'Coverage',     'AREA',      'REG',      'DEV',  'DevName']

In [ ]:
final.drop(no_favs, axis = 1, inplace = True)

In [ ]:
final.head(2)

In [ ]:
final.columns

In [ ]:
new_names = {'OdName':'Country', 'AreaName':'Continent',  'RegName':'Region',}

In [ ]:
final.rename(columns = new_names, inplace = True)
final.head(2)

In [ ]:
final['Total'] = final.iloc[ : , 3: ].sum(axis = 1)
final.head(2) 
#iloc llama matriz pero con números [row:row,col:col]

In [ ]:
final.loc[0, 'Total']

In [ ]:
final.set_index('Country', inplace = True)
final.head(2)

In [ ]:
favs = ['India', 'China']

In [ ]:
final.loc[favs, : ]

NameError: ignored

In [ ]:
final.iloc[:, -4]

NameError: ignored

In [ ]:
final.columns

Index([    'Type', 'Coverage',   'OdName',     'AREA', 'AreaName',      'REG',
        'RegName',      'DEV',  'DevName',       1980,       1981,       1982,
             1983,       1984,       1985,       1986,       1987,       1988,
             1989,       1990,       1991,       1992,       1993,       1994,
             1995,       1996,       1997,       1998,       1999,       2000,
             2001,       2002,       2003,       2004,       2005,       2006,
             2007,       2008,       2009,       2010,       2011,       2012,
             2013],
      dtype='object')

In [ ]:
final.iloc[:, -4:]

       2010    2011    2012    2013
0      1758    2203    2635    2004
1       561     539     620     603
2      4752    4325    3774    4331
3         0       0       0       0
4         0       0       1       1
..      ...     ...     ...     ...
192     211     160     174     217
193     102      69      46      59
194     494     434     437     407
195    3731    2554    1681    1484
196  280687  248748  257903  259021

[197 rows x 4 columns]

In [ ]:
final.iloc[:, 24:]

,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,1537,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,63,113,307,574,1264,1816,1602,1021,853,1450,1223,856,702,560,716,561,539,620,603
2,1106,2054,1842,2292,2389,2867,3418,3406,3072,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,0,0,0,2,0,0,1,0,2,0,0,1,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,73,144,121,141,134,122,181,171,113,124,161,140,122,133,128,211,160,174,217
193,41,34,72,34,51,39,78,50,46,56,91,77,71,64,60,102,69,46,59
194,58,39,44,43,49,98,110,191,669,1450,615,454,663,611,508,494,434,437,407
195,25152,25986,23151,13468,10132,10743,7993,5938,4052,3739,4785,4583,4348,4197,3402,3731,2554,1681,1484
196,212864,226071,216036,174195,189950,227455,250636,229049,221349,235822,262242,251640,236753,247244,252170,280687,248748,257903,259021

In [ ]:
type(-4.0)

float

In [ ]:
type(bool("Yes"))

bool

In [ ]:
type(bool("Yes"))

bool

In [ ]:
type(final)

pandas.core.frame.DataFrame

In [ ]:
final.iloc[:,[1, 2, 3]]

       Coverage          OdName  AREA
0    Foreigners     Afghanistan   935
1    Foreigners         Albania   908
2    Foreigners         Algeria   903
3    Foreigners  American Samoa   909
4    Foreigners         Andorra   908
..          ...             ...   ...
192  Foreigners           Yemen   935
193  Foreigners          Zambia   903
194  Foreigners        Zimbabwe   903
195  Foreigners         Unknown   999
196        Both           Total   999

[197 rows x 3 columns]

In [ ]:
final.loc[:,['Coverage', 'OdName', 'AREA']]

       Coverage          OdName  AREA
0    Foreigners     Afghanistan   935
1    Foreigners         Albania   908
2    Foreigners         Algeria   903
3    Foreigners  American Samoa   909
4    Foreigners         Andorra   908
..          ...             ...   ...
192  Foreigners           Yemen   935
193  Foreigners          Zambia   903
194  Foreigners        Zimbabwe   903
195  Foreigners         Unknown   999
196        Both           Total   999

[197 rows x 3 columns]