<a href="https://colab.research.google.com/github/tkdforever18/Carlos/blob/main/Pivot_Tables_Quiz%231.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
path2 = "/content/drive/MyDrive/Data mining/antropometria-dataset-2.csv"

In [ ]:
df = pd.read_csv(path2)
df

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
0,210295,2,21,PUEBLA,2,38,8,73.70,2,146.40,...,16:30,2,16:35,1,R2101,5,3,1,3470.002176,215
1,101655,3,10,DURANGO,2,11,11,35.65,2,145.10,...,15:25,3,15:25,1,M1041,1,1,1,417.946672,101
2,10287,6,1,AGUASCALIENTES,2,18,8,54.80,1,162.00,...,9:40,1,9:40,1,M0108,5,3,1,472.980811,15
3,91526,4,9,DISTRITO FEDERAL,1,10,8,33.40,2,146.50,...,7:40,3,7:45,1,M0931,4,3,2,1832.581391,94
4,210939,3,21,PUEBLA,2,19,3,97.95,2,161.00,...,6:00,2,6:00,1,M2123,5,3,1,7622.066564,215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18635,300116,2,30,VERACRUZ DE IGNACIO DE LA LLAVE,2,73,11,75.80,1,141.15,...,18:00,1,18:05,1,R3002,5,3,1,7615.607749,305
18636,40253,1,4,CAMPECHE,2,75,0,69.40,1,144.80,...,18:40,1,18:40,1,M0408,5,3,1,195.314670,45
18637,301099,1,30,VERACRUZ DE IGNACIO DE LA LLAVE,1,86,7,46.75,2,149.20,...,8:00,3,23:00,1,M3024,2,1,2,1758.912979,302
18638,250801,1,25,SINALOA,2,72,7,59.05,2,142.50,...,6:02,3,6:02,1,M2512,3,2,1,2354.581350,253
18639,11786,2,1,AGUASCALIENTES,2,71,8,80.00,2,150.65,...,13:50,3,13:00,1,M0143,2,1,2,591.847039,12

In [ ]:
# 3. Generate a pivot table showing the average weight of people by state.
x = pd.pivot_table(df,                     
               index= 'desc_ent',
               aggfunc = 'mean',
               values = 'peso',
               margins = True       
               )  
x

                                      peso
desc_ent
AGUASCALIENTES                   66.357786
BAJA CALIFORNIA                  68.467270
BAJA CALIFORNIA SUR              71.809198
CAMPECHE                         65.418475
CHIAPAS                          57.613775
CHIHUAHUA                        66.656005
COAHUILA DE ZARAGOZA             68.154142
COLIMA                           68.743648
DISTRITO FEDERAL                 65.119273
DURANGO                          66.354922
GUANAJUATO                       63.936390
GUERRERO                         60.466315
HIDALGO                          59.995917
JALISCO                          66.697270
MEXICO                           60.680850
MICHOACAN DE OCAMPO              64.900000
MORELOS                          63.541295
NAYARIT                          66.541827
NUEVO LEON                       67.239853
OAXACA                           58.800067
PUEBLA                           60.102996
QUERETARO                        63.547342
QUINTANA ROO                     64.238904
SAN LUIS POTOSI                  60.576912
SINALOA                          68.051272
SONORA                           68.849473
TABASCO                          66.554701
TAMAULIPAS                       68.210911
TLAXCALA                         62.085398
VERACRUZ DE IGNACIO DE LA LLAVE  62.546117
YUCATAN                          62.706315
ZACATECAS                        64.238524
All                              64.638707

In [ ]:
# 4. Add columns showing the average weight by gender by state.
y = pd.pivot_table(df,                     
               index= 'desc_ent',
               aggfunc = 'mean',
               values = 'peso',
               columns = 'sexo',
               margins = True       
               )  
y

sexo                                     1          2        All
desc_ent
AGUASCALIENTES                   69.985381  63.254292  66.357786
BAJA CALIFORNIA                  71.391818  65.893667  68.467270
BAJA CALIFORNIA SUR              75.561015  68.168959  71.809198
CAMPECHE                         68.622637  62.920493  65.418475
CHIAPAS                          58.365222  57.096111  57.613775
CHIHUAHUA                        68.892642  64.815295  66.656005
COAHUILA DE ZARAGOZA             68.873094  67.467348  68.154142
COLIMA                           70.998878  66.978393  68.743648
DISTRITO FEDERAL                 69.460661  61.654128  65.119273
DURANGO                          68.846451  64.400031  66.354922
GUANAJUATO                       65.008000  63.100995  63.936390
GUERRERO                         62.611437  58.899850  60.466315
HIDALGO                          61.747958  58.972554  59.995917
JALISCO                          67.076482  66.418111  66.697270
MEXICO                           63.140314  58.887882  60.680850
MICHOACAN DE OCAMPO              66.374612  63.784311  64.900000
MORELOS                          65.741943  62.195391  63.541295
NAYARIT                          68.822143  64.890564  66.541827
NUEVO LEON                       70.168106  64.823014  67.239853
OAXACA                           60.810332  57.450557  58.800067
PUEBLA                           61.866875  58.820175  60.102996
QUERETARO                        66.751233  60.860793  63.547342
QUINTANA ROO                     65.149528  63.538000  64.238904
SAN LUIS POTOSI                  62.614907  58.979163  60.576912
SINALOA                          71.122911  65.565234  68.051272
SONORA                           70.880406  67.024857  68.849473
TABASCO                          69.255801  64.190187  66.554701
TAMAULIPAS                       72.060601  64.866851  68.210911
TLAXCALA                         64.784437  60.201164  62.085398
VERACRUZ DE IGNACIO DE LA LLAVE  65.324094  60.565646  62.546117
YUCATAN                          65.717541  60.537515  62.706315
ZACATECAS                        66.096483  62.757788  64.238524
All                              67.131228  62.700503  64.638707

In [ ]:
# Write a couple of sentences explaining your conclusions based on results obtained. 
y.columns

Index([1, 2, 'All'], dtype='object', name='sexo')

In [ ]:
# Column 1 = male due to males normaly are heavier than women.
# Baja California Sur has the heavier people in México.